<div class="container">
  <div class="row">
    <header class="profile-header row">
      <div class="header-image col-xs-4">
        <% if current_user.image.exists? %>
          <%= image_tag current_user.image.url(:medium), class:"img-circle" %>
        <% else %>
          <div class="form-wrapper">
            <h2>Add an Image to your profile</h2>
            <%= form_for current_user, html: { class: 'form-horizontal', multipart: true } do |f| %>
              <div class="form-group text-center">
                  <%= f.file_field :image %>
            ``</div>
              <%= f.button :submit, class: 'btn-success' %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="col-xs-8">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      </div>
    </header>


    <main class="profile-main row">
      <div class="info col-xs-6">
        <div class="non_profits">
          <% if @user.non_profits.any? %>
          <h1>Your Non-Profits</h1>
            <ul>
              <% @user.non_profits.each do |non_profit| %>
                <h3><%= non_profit.name %> || <%= link_to "Remove", user_non_profit_path(@user, non_profit),
                                  :data => {:confirm => "You sure?",
                                  :method => "delete"} %></h3>
              <% end %>
            </ul>
          <% else %>
            <p>You don't currently have any non profits</p>
          <% end %>
        </div>
        <div class="user-bio">
          <% if @user.bio %>
            <h1>Bio</h1>
            <p><%= @user.bio %></p>
          <% else %>
            <%= link_to "Add a bio", edit_user_path(@user), class: 'bio-link', remote: true %>
          <% end %>
        </div><!-- end of bio -->
      </div><!-- end of info -->
      <div class="edit col-xs-6"></div>
    </main>





  </div>
</div>
